body
{
    background-color : #061E44;
}

h5
{
    height : 3%;
}

.main-body
{
    margin : 0 auto;
    width : 95%;
}

.title-div
{
    width : 95%;
    height : 5%;
    color : white;
    margin : 0 auto;
    margin-top: 0;
    padding-bottom : 1%;
}

.title
{
    vertical-align : top;
    text-align : left;
    margin : 0px;
    font : "Open Sans";
    font-size : 35px;
    color : white;
    /* height : 8%; */
}

.intro
{
    vertical-align : top;
    text-align : left;
    font : "Open Sans";
    font-size : 18px;
    color : white;
}

.card-outer
{
    width : 90%;
    height : 40%;
    padding: 10px;
    color : white;
    margin : 10px;
    /* margin : 0 auto; */
    /* margin : 15%; */
    display : table;
    vertical-align : top;
    border-spacing: 10px;
    border-collapse: separate;
}

.card
{
  display : table-cell;
  color : white;
  padding : 15px;
  border: 5px solid transparent;
  border-color : #061E44;
  width : 12%;
  background-color : #0a2863;
}

.graph
{
    width : 90%;
    height : 100%;
    margin : 0 auto;
    vertical-align: center;
    margin-right: 15px;
    align-items: center;
    margin : auto;
    vertical-align : top;
}

.header
{
    vertical-align : top;
    text-align : center;
    font : "Open Sans";
    font-size : 100%;
    color : white;
    height : 5%;
}

.labels
{
    vertical-align : top;
    text-align : center;
    font : "Open Sans";
    font-size : 18px;
    color : white;
}

.values
{
    vertical-align : top;
    text-align : center;
    font : "Open Sans";
    font-size : 25px;
    color : white;
}

.dropdown
{
    vertical-align : top;
    width : 70%;
    color : black;
    margin : 0 auto;
}
