body
{
    background-color : #0d0d0d;
}
        
.input-section
{
    width : 30%;
    /* border : 1px solid white;  */
    background-color : #30333d;
}

.card-prices
{
    background-color : #30333d;
}