body
{
    background-color : #0d0d0d;
}

.card-outer
{
    width : 90%;
    height : 50%;
    padding: 10px;
    margin : 0 auto;
    display : table;
    border-collapse: separate;
    border-spacing: 10px;
    background-color : #0d0d0d;
}

.card
{
    width : 35%;
    height : 100%;
    color : white;
    margin : 1%;
    padding: 2%;
    display: table-cell;
    background-color : #30333d;
}

.card-input
{
    width : 30%;
    height : 100%;
    color : white;
    margin : 1%;
    padding: 2%;
    display: table-cell;
    background-color : #30333d;
}

.card-prices
{
    width : 90%;
    height : 50vh;
    color : white;
    padding: 10px;
    margin : 0 auto;
    background-color : #30333d;
}

.header
{
    text-align : center;
    font : "Open Sans";
    font-size : 100%;
    height : 20%;
}

.dropdown
{
    width : 80%;
    color : black;
    margin : 0 auto;
    background-color : #30333d;
}
